doctype
html(ng-app="ml",ng-controller="IndexCtrl", ng-class='{loss:!love}', ng-cloak)
    head
        meta(charset='utf8')
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")
        base(href='/')
        title miss &amp; loss
        link(rel='stylesheet', href='/css/main.css')
        link(rel='stylesheet', href='/css/icon.css')
    body
        block body
