@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 14px;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class^="icon-"]:hover, [class*=" icon-"]:hover {
	font-weight: bold;
}
[class^="icon-"]:active, [class*=" icon-"]:active {
	font-weight: normal;
}
.icon-heart:before {
	content: "\e61b";
}
.icon-heart {
	font-size: 32px;
	display: block;
	margin:-4px auto 0;
	width: 34px;
	height: 34px;
	color: #FF9090;
}

.loss .icon-heart:before {
	content: "\e61c";
}
.loss .icon-heart {
	color: rgba(51, 51, 51, 0.8);
}
.icon-logout{
	font-size: 28px;
	color: #fff;
	float: right;
	width: 30px;
}
.icon-logout:hover{
	font-weight: bold;
}
.icon-logout:before {
	content: "\e616";
}
.icon-user:before {
	content: "\e60e";
}
.icon-user-add:before {
	content: "\e60f";
}
.icon-user,.icon-user-add{
	font-size: 18px;
	line-height: 18px;
	color: #FF9090;
	width: 20px;
	height: 18px;
}
.loss .icon-user,.loss .icon-user-add {
    color: #777;
}
.icon-remove{font-size: 12px;color: rgba(0, 0, 0, 0.4);}
.icon-remove:hover{color: rgba(0, 0, 0, 1);}
.icon-remove:before {
	content: "\e622";
}





.icon-uniF7D7:before {
	content: "\e600";
}
.icon-uniF7D8:before {
	content: "\e601";
}
.icon-uniF7D9:before {
	content: "\e602";
}
.icon-uniF7DA:before {
	content: "\e603";
}
.icon-uniF7DB:before {
	content: "\e604";
}
.icon-uniF7DC:before {
	content: "\e605";
}
.icon-uniF7DD:before {
	content: "\e606";
}
.icon-uniF7DE:before {
	content: "\e607";
}
.icon-uniF7DF:before {
	content: "\e608";
}
.icon-uniF7E0:before {
	content: "\e609";
}
.icon-switch:before {
	content: "\e60a";
}
.icon-switch:before {
	content: "\e61d";
}
.icon-pushpin:before {
	content: "\e61e";
}
.icon-spinner:before {
	content: "\e61f";
}
.icon-plus:before {
	content: "\e620";
}


.icon-key:before {
	content: "\e623";
}
.icon-key2:before {
	content: "\e624";
}
.icon-lock:before {
	content: "\e625";
}
.icon-lock2:before {
	content: "\e626";
}
.icon-quill:before {
	content: "\e627";
}
.icon-pencil:before {
	content: "\e628";
}
.icon-pencil2:before {
	content: "\e629";
}

.icon-trash:before {
	content: "\e610";
}
.icon-pencil2:before {
	content: "\e611";
}
.icon-user-add-outline:before {
	content: "\e612";
}
.icon-user-outline:before {
	content: "\e613";
}
.icon-pin-outline:before {
	content: "\e614";
}
.icon-social-github:before {
	content: "\e615";
}

.icon-leaf:before {
	content: "\e617";
}
.icon-feather:before {
	content: "\e618";
}
.icon-tree:before {
	content: "\e619";
}
.icon-enter:before {
	content: "\e61a";
}
