@charset "utf-8";
/* CSS Document */
body{font:12px/1.5 "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti;box-sizing:content-box;}
/* CSS reset and CSS base */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{*font-size:100%;}
a{text-decoration: none;color:#666;}
input,textarea,button{outline: none;}
.cf:before,.cf:after{display:table;content:"";}
.cf:after{clear:both;}
.cf{*zoom:1;}
.pr{position:relative;}
.pa{position:absolute;}
.pf{position:fixed;}

/* mobile css */
@media all and (max-width: 420px) {
    ul.list{margin:0.25em 0 0 0;}
    body{font-size:100%;}
    div.wrap {width: 90%;}
}
/* main css */
html{
    height:100%;
}
body {
    background: url(../img/missbg.jpg) no-repeat center bottom #fbfbfb;
    background-attachment: fixed;
    height:100%;
}
.wrap {
    margin:0 auto;
    width: 28em;
}

.words {
    width:80%;
    background: #fff;
    padding: 1em;
    margin:2em auto 1em;
    box-shadow: -0.25em -0.1em 0.83333em 0 #ccc;
    border-radius: 1em;
}
.words .textarea {
    width:100%;
    max-width:100%;
    min-height: 2em;
    line-height: 2em;
    border:none;
    color: #333;
    outline: none;
}
.words:after {
    content:'';
    position:absolute;
    border: 0.83333em solid #fff;/*10px*/
    border-color: #fff transparent transparent;
    width:0;
    height:0;
    bottom: -1.5em;
    left:50%;
    margin:0.2em 0 0 -0.84em;/*10px*/
}
.toggle {
    font-size: 1.16666em;
    color: #333;
    font-style: italic;
    line-height: 1.16666em;
}
.btn {
    text-align: center;
    border:none;
    cursor: pointer;
    background: none;
}
/*发布按钮向下移动*/
.btn.icon-heart{
    margin-top: 8px;
    padding-right: 38px;
}
.wrap .words:hover {
    -webkit-animation-name: glow;
    -webkit-animation-duration: 5.20s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;
}
.list {
    padding:1em 0 15em;
    margin:3em 0 0 0;
}
.list li {
    color: #666;
    background: rgba(255, 255, 255, 0.94);
    box-shadow: 0.1em 0.1em 0.5em 0 #ccc;
    padding: 1.16666em 1.16666em 0.83333em;
    margin: 1.5em 1.5em 0;
    letter-spacing: 0.05em;
}
.list .post{margin-bottom: 1.25em;word-break: break-word;}
.list .edit{top: 0;right: -1.6666em;}
.list .date,.list .author {
    float:right;
    font-family: 'Cookie', cursive;
    color: #999;
}
.list .author {
    padding-left: 0.3em;
    float: left;
}
.list .lor{
    color: #FF9090;
    vertical-align: top;
    float: right;
}
.list li.pre{border: 0.2em dotted #FFEAEA;box-shadow: 0.25em 0.4em 1.25em 0.08333em #bbb;opacity: 0.7;background-color: #F0F0F0}
.list li.pre div{outline: none;}
.box {
    font-family: 'Cookie', cursive;
    top: 0;
    right: 0;
    opacity: 0.8;
    min-width: 10em;
}
.boxUser {
    padding: 0.83333em;  background: #FF9090;  color: #FFF;  border-radius: 0 0 1em 1em;  box-shadow: -0.16666em 0 0.83333em 0 #aaa;
}
.boxUser span {
    line-height: 2.3333em;
    vertical-align: top;
}
.boxForm{
    padding: 0.5em 0.83333em;
    background: #FF9090;
    color: #FFF;
    border-radius: 0 0 1em 1em;
    box-shadow: -0.16666em 0 0.83333em 0 #aaa;
}
.bfItem label {
    width: 1.6666em;
    text-align: right;
    display: inline-block;
    margin-right: 0.5em;
}
.bfItem input {
    border: none;
    border-radius: 0.5em;
    width: 5em;
    padding: 0.16666em 0.5em;
    background: #FFFFFF;
    color: #999;
}
.bfItem {
    margin-bottom: 0.6666em;
}
.bfBtn button {
    border: none;
    text-align: center;
    display: block;
    padding: 0.41666em;
    color: #DF7F7F;
    background: #FFFFFF;
    border-radius: 1.2em 1.2em 0.4em 0.4em;
    bottom: -0.5em;
    width: 112%;
    position: relative;
    cursor: pointer;
    left: -6%;
    line-height: 1em;
}
.boxToggle{
    float:right;
    right:1em;
    cursor: pointer;
}
.box .bt1{
    width: 0.16666em;
    height: 1.2em;
    background: #FF9090;
    margin:0 auto;
}
.box .bt2{
    width: 0.5em;
    height: 0.5em;
    background: #fff;
    margin:0 auto;
    border-radius: 0.5em;
    border: 0.16666em solid #ff9090;
}
.msg{border:none;background: none;}
.pager .btn{
    display: block;
    width: 5em;
    height: 2em;
    border: 0.08333em solid #eee;
    line-height: 2em;
    box-shadow: 0.08333em 0.08333em 0.08333em 0 #ddd;
    color: #666;
    background: #fff;
    float: right;
    margin-left: 1em;
}
body.loss {
    background-image: url(../img/lossbg.jpg);
}

.loss .list li.pre {
    border: none;
    box-shadow: 3px 2px 7px 1px #ccc;
}

.loss .list .lor {
    color: #777;
}
.loss .boxForm {
    background: #333;
    box-shadow: -2px 0 4px 0 #000;
}
.loss .bfItem button {
    color: #888;
    box-shadow: 0px 5px 10px 0px #D1D1D1;
}
.loss .bt2 {
    border: 2px solid #555;
}
.loss .bt1 {
    background: #555;
}
.loss .boxUser {
    background: #333;
}
@-webkit-keyframes glow {
    0% {
        box-shadow: -4px -1px 10px 0px #ccc;
        -webkit-transform: rotate(0.520deg);
        -moz-transform: rotate(0.520deg);
        transform: rotate(0.520deg);
    }
    100% {
        box-shadow: 6px 8px 16px 0px #ccc;
        border-radius: 6px 6px 9px 6px;
        -webkit-transform: rotate(-0.520deg);
        -moz-transform: rotate(-0.520deg);
        transform: rotate(-0.520deg);
    }
}

html::-webkit-scrollbar-track-piece{background:#fbfbfb;}
html::-webkit-scrollbar{width:0;}
html::-webkit-scrollbar-thumb{background-color:#fbfbfb;}
html::-webkit-scrollbar-thumb:hover{background-color:#fbfbfb;}
