@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-uniF7D7:before {
	content: "\e600";
}
.icon-uniF7D8:before {
	content: "\e601";
}
.icon-uniF7D9:before {
	content: "\e602";
}
.icon-uniF7DA:before {
	content: "\e603";
}
.icon-uniF7DB:before {
	content: "\e604";
}
.icon-uniF7DC:before {
	content: "\e605";
}
.icon-uniF7DD:before {
	content: "\e606";
}
.icon-uniF7DE:before {
	content: "\e607";
}
.icon-uniF7DF:before {
	content: "\e608";
}
.icon-uniF7E0:before {
	content: "\e609";
}
.icon-switch:before {
	content: "\e60a";
}
.icon-heart:before {
	content: "\e61b";
}
.icon-heart-broken:before {
	content: "\e61c";
}
.icon-switch:before {
	content: "\e61d";
}
.icon-pushpin:before {
	content: "\e61e";
}
.icon-spinner:before {
	content: "\e61f";
}
.icon-plus:before {
	content: "\e620";
}
.icon-user:before {
	content: "\e621";
}
.icon-remove:before {
	content: "\e622";
}
.icon-key:before {
	content: "\e623";
}
.icon-key2:before {
	content: "\e624";
}
.icon-lock:before {
	content: "\e625";
}
.icon-lock2:before {
	content: "\e626";
}
.icon-quill:before {
	content: "\e627";
}
.icon-pencil:before {
	content: "\e628";
}
.icon-pencil2:before {
	content: "\e629";
}
.icon-user:before {
	content: "\e60e";
}
.icon-user-add:before {
	content: "\e60f";
}
.icon-trash:before {
	content: "\e610";
}
.icon-pencil2:before {
	content: "\e611";
}
.icon-user-add-outline:before {
	content: "\e612";
}
.icon-user-outline:before {
	content: "\e613";
}
.icon-pin-outline:before {
	content: "\e614";
}
.icon-social-github:before {
	content: "\e615";
}
.icon-power:before {
	content: "\e616";
}
.icon-leaf:before {
	content: "\e617";
}
.icon-feather:before {
	content: "\e618";
}
.icon-tree:before {
	content: "\e619";
}
.icon-enter:before {
	content: "\e61a";
}
